<!-- <h3>Audit Management System</h3>
<a routerLink = "login">Login</a>
<hr/>
<a routerLink = "audit">Audit</a>
<router-outlet></router-outlet> -->

<!-- header starts -->
<!-- <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #6e58a05d;">
    <div class="container-fluid font-weight-bold">
       <a class="navbar-brand text-dark" routerLink="">AuditAssist</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="">Dashboard<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" routerLink="auditType">Manage Audit</a>
          <a class="nav-item nav-link" routerLink="auditSeverity">View Severity</a>
        </div>
        </div>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="w-100"> -->
             <!-- <a class="navbar-brand text-black float-end d-block" routerLink="login" *ngIf="!isUserAuthenticated()">Login</a>
             <a class="navbar-brand text-black float-end d-block logout"  *ngIf="isUserAuthenticated()">Logout</a> -->
          <!-- </form>
       </div>
    </div>
  </nav>
  header ends -->

<router-outlet></router-outlet>
